<nav> 
  <a href="/" class="home-button">Home</a>
  <ul>
    <li {% if r/\/curriculum\//.test(page.url) %}class="active" {% endif %}>
      <a href="/curriculum">Curriculum</a>
    </li>
    <li {% if r/\/year-1\//.test(page.url) %}class="active" {% endif %}>
      <a href="/year-1">Year 1</a>
    </li>
    <li {% if r/\/year-2\//.test(page.url) %}class="active" {% endif %}>
      <a href="/year-2">Year 2</a>
    </li>
    <li {% if r/\/year-3\//.test(page.url) %}class="active" {% endif %}>
      <a href="/year-3">Year 3</a>
    </li>
    <li {% if r/\/year-4\//.test(page.url) %}class="active" {% endif %}>
      <a href="/year-4">Year 4</a>
    </li>
    <li {% if r/\/year-5\//.test(page.url) %}class="active" {% endif %}>
      <a href="/year-5">Year 5</a>
    </li>
    <li {% if r/\/year-6\//.test(page.url) %}class="active" {% endif %}>
      <a href="/year-6">Year 6</a>
    </li>
   </ul>
</nav>