<nav> 
  <a href="/" class="home-button">Primary Programming</a>
  <ul>
    <li {% if r/\/curriculum\//.test(page.url) %}class="active" {% endif %}>
      <a href="/curriculum">Curriculum</a>
    </li>
    <li {% if r/\/projects\//.test(page.url) %}class="active" {% endif %}>
      <a href="/projects">Projects</a>
    </li>
    <li {% if r/\/scratch-help\//.test(page.url) %}class="active" {% endif %}>
      <a href="/scratch-help">Scratch Help</a>
    </li>
   </ul>
</nav>